/* General CSS for both index and landing page */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}

body {
    width: 100%;
    height: 100vh; 
    background: linear-gradient(to right, #00C9FF, #92FE9D); 
}

footer {
    padding-top: 1rem;
    font-size: 80%;
    position: relative;
    bottom: 0;
    left: 0;
}

.alerts {
    font-size: 20px;
    font-weight: 400px;
    color: red;
    margin-left: 50px;
}

.citation {
    font-size: 10px;
    font-style: italic;
    margin-left: 0px;
}

/* Navbar CSS */
nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #03b2e2;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo {
    padding: 0 1em 0 1em;
    background-image: url('./noun_happiness_2290052.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.nav-left a{
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: White;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.nav-text {
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
}

/* Button CSS for all */
button {
    background-color: #00c5fc;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    width: 100px;
    cursor: pointer;
    margin-right: 20px;
    vertical-align: middle;
}

.row button {
    width: 150px;
    font-size: 18px;
    padding: 10px;
}

/* General heading guidelines and certain class behaviors */
h1 {
    color: white;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    padding-right: 1rem;
}

h2 {
    color: white;
    font-size: 26px;
    font-weight: 900;
}

h3 {
    color:white;
    font-size: 25px;
    font-weight: 600;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    height: 100%;
    margin-top: 2rem;
}

.login {
    margin-top: 4em;
    text-align: center;
}

.comments {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
}
/* Special CSS for landing page */
.intro-img {
    margin-top: 80px;
    width: 100%;
    height: auto;
}

.data {
    color: rgb(0, 22, 82);
    font-size: 20px;
    font-weight: 800;
}

.parts  {
    color: white;
}

.description p {
    font-size: 18px;
    color:white;
    font-weight: 300;
}

.intro {
    padding-top: 30px;
    width: 100%;
    background-position: 0px 42px;
}

.intro-text {
    width: 100%;
    padding-left: 10px;
    padding-top: 60px;
}

.intro-stats {
    font-size: 10px;
    display: flex;
}

.intro-stats div {
    padding-right: 5em;
}

.galary img {
    width: 500px;
    height: 400px;
    margin: 1rem;
}

/* special CSS for index page */
/* general subpages settings */
.pages {
    margin-top: 100px;
}

/* left page settings */
.left-subpage {
    flex-basis: 200px;
}

.left-subpage h1 {
    font-size: 45px;
}

.left-subpage h2 {
    font-size: 30px;
}

.left-subpage input[type=text] {
    border: 2px solid rgb(0, 174, 255);
    border-radius: 4px;
}

.left-subpage input[type=text]:focus {
    background-color: oldlace;
}

/* Tab CSS in index for switching */
.tab {
    overflow: hidden;
    border: 1px solid rgb(0, 174, 255);
    background-color:rgb(0, 174, 255);
    display: flex;
    width: fit-content;
}

.tab button {
    background-color: inherit;
    display: inline;
    border: none;
    outline: none;
    padding: 3px 25px;
    margin-right: 0px;
    border-radius: 0px;
}

.checkbox {
    line-height: 15px;
}

.text-input {
    border-radius: 4px;
}

/* mid page settings */
.mid-subpage {
    size: 0;
    flex: 1;
    text-align: center;
}

.mid-subpage .container {
    margin-top: 20px;
}

.card-title {
    color: #00C9FF;
    font-size: 25px;
}

/* This is used for not showing incomplete tab
   part in index.html, will be deleted once js
   is implemented!! */
.table {
    border: none;
}

/* CSS for data table in index */
.submit-button:hover {
    transition: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.data-table-frame {
    margin-left: 50px;
}

.data-table {
    text-align: center;
    border-collapse: collapse;
    font-size: small;
    width: 100%;
}

.data-table td, .data-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data-table tr:nth-child(odd) {
    background-color: white;
}

.data-table tr:hover {
    background-color: #ddd;
}

.data-table th {
    background-color:rgb(0, 174, 255);
    color: white;
}

.table-footer {
    display: flex;
    justify-content: flex-end;
}

.table-footer button {
    margin-right: 0px;
    margin-left: 40px;
}

/* right page settings */
.right-subpage {
    flex-basis: 100px;
    flex-shrink: 0;
}


.right-subpage img{
    width: 200px;
    height: 150px;
}

@media (max-width:1200px) {
    .galary img {
        width: 450px;
        height: auto;
    }
}

@media (max-width:1080px) {
    .data-table-frame {
        margin-left: 0px;
    }
}

@media (max-width:992px) {
    /* For smaller screens or less wide windows */
    .pages {
        display: list-item;
        list-style: none;
        font-size: 1rem;
    }

    /* Special changes to each html */

    .intro-img {
        display: none;
    }

    .galary .container {
        display: inline-block;
    }

    .galary img {
        width: 95%;
        height: auto;
        margin: 10px;
    }

    .right-subpage img {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 712px) {
    /* Special for phones */
    /* General changings */
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    .data, .description p, .intro-text, .intro-stats {
        font-size: 16px;
    }

    .hide-mobile {
        display: none;
    }

    /* Navbar changes */
    .nav-left a {
        font-size: 12px;
        padding: 6px;
    }

    nav button {
        padding: 0px 0px;
        font-size: 12px;
        width: 65px;
        height: 30px;
        text-align: center;
        margin-right: 5px;
    }

    /* Special changes in each html */
    .intro-text {
        width: 95%;
    }

    .left-subpage h1 {
        font-size: 30px;
    }

    .left-subpage h2 {
        font-size: 22px;
    }
    .right-subpage {
        width: 100%;
        flex-basis: 0px;
    }
}

@media (max-width:465px) {
    .container {
        display: list-item;
    }

    .hide-small {
        display: none;
    }
}